{% extends "base.html" %}

{% block content %}
<section class="inner-page">
    <h1 class="section-title">Contact</h1>

    <div class="contact-grid">

        <!-- EMAIL -->
        <div class="contact-card slide-in-up">
            <div class="contact-icon-wrap">
                <img src="/static/icons/gmail.svg" class="contact-icon">
            </div>
            <h3>Email</h3>
            <p>
                <a href="mailto:kiritsisxaris@gmail.com">kiritsisxaris@gmail.com</a>
            </p>
        </div>

        <!-- LINKEDIN -->
        <div class="contact-card slide-in-up">
            <div class="contact-icon-wrap">
                <img src="/static/icons/linkedin.svg" class="contact-icon">
            </div>
            <h3>LinkedIn</h3>
            <p>
                <a href="https://www.linkedin.com/in/charis-kyritsis" target="_blank">
                    linkedin.com/in/charis-kyritsis
                </a>
            </p>
        </div>

        <!-- GITHUB -->
        <div class="contact-card slide-in-up">
            <div class="contact-icon-wrap">
                <img src="/static/icons/github.svg" class="contact-icon">
            </div>
            <h3>GitHub</h3>
            <p>
                <a href="https://github.com/xariskir" target="_blank">
                    github.com/xariskir
                </a>
            </p>
        </div>

    </div>
</section>
{% endblock %}
