{% extends "base.html" %}

{% block content %}
<section class="inner-page">
    <h1 class="section-title">Contact</h1>

    <div class="content-box">

        <div class="contact-row">

            <div class="contact-card">
                <h3>
                    <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/gmail.svg" class="icon-sm">
                     Email
                </h3>

                <p><a href="mailto:kiritsisxaris@gmail.com">kiritsisxaris@gmail.com</a></p>
            </div>

            <div class="contact-card">
                <h3>
                    <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg" class="icon-sm">
                    LinkedIn
                </h3>

                <p><a href="https://www.linkedin.com/in/charis-kyritsis" target="_blank">
                    linkedin.com/in/charis-kyritsis
                </a></p>
            </div>

            <div class="contact-card">
                <h3>
                    <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg" class="icon-sm">
                    GitHub
                </h3>

                <p><a href="https://github.com/xariskir" target="_blank">
                    github.com/xariskir
                </a></p>
            </div>

        </div>

    </div>

</section>
{% endblock %}
